@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Proxima Nova';
        font-style: light;
        font-weight: 300;
        font-display: swap;
        src: url(assets/fonts/proximanova-light.otf) format('otf');
    }

    @font-face {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(assets/fonts/proximanova-regular.otf) format('otf');
    }

    @font-face {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(assets/fonts/proximanova-semibold.otf) format('otf');
    }

    @font-face {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(assets/fonts/proximanova-bold.otf) format('otf');
    }

    @font-face {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(assets/fonts/proximanova-extrabold.otf) format('otf');
    }
}

/* Step 1: Define a base font size */
html {
    font-size: 15px;
    /* This is typically the default, but you can set it explicitly */
}

/* Step 2 & 3: Use a media query for mobile devices */
@media (max-width: 768px) {
    html {
        font-size: 14px;
        /* Decrease the base font size for mobile devices */
    }
}